*{
	margin: 0;
	padding: 0;
}
body{
	background-color: #ffffee;
	line-height: 1.5;
	color: #000000;
 }
 #header{
 	background-image: url("../images/kubb7.png");
 	background-size: 100%;
 	height: 455px;
}
h1{
	font-family: 'Michroma', sans-serif;
	font-variant: small-caps;	
	text-align: left;
	font-size: 60px;
	padding-left: 10px;

}
h2{
	font-family: 'Michroma', sans-serif;
	font-size: 2em;
	font-variant: small-caps;
	text-align: left;
	padding-left: 10px;
}
#nav {
	font-size: 80%;
	font-family: 'Michroma', sans-serif;
	letter-spacing: 1px;
	text-align: center;
	border-bottom: #000000 solid thick;
}
#nav a{
	text-decoration: none;
	color: #000000;
	display: inline-block;
	padding: 10px;
}
.callouts {
	font-family: font-family: 'Slabo 27px', serif; 
	text-align: left;
	margin-left: 20px;
	padding-top: 20px;
	padding-left: 20px:;
	color: #446DA7;
}
.meat {
	font-family: font-family: 'Slabo 13px', serif;
	text-align: justify;
	margin-left: 20px;
	padding-left: 100px;
	padding-right: 400px;
	color: #000000;
	clear: both;
}
footer {
	text-align: center;
	font-family: 'Michroma', sans-serif;
	color: #000000;
	padding: 20px 200px;
}
#social {
	padding-top: 10px;
	padding-bottom: 10px;
	display: block;
	margin-left: 80%;
	width: 100%;
}

