body{
	background-color: #ffffff;
	background-image: linear-gradient(#03043b, #ffffff); 
	height: 300px;
	width: auto;
	background-repeat: no-repeat;
}
h1{
	font-family: 'Lobster', cursive;
	font-size: 72px;
	font-style: normal;
	font-variant: small-caps;
	font-weight: bold;
	line-height: 0px;
	text-align: center;
	color: #ffffff;
	height: 30px;
	width: auto;
	margin-top: 100px;
}	
#slogan{
	color: #03043b;
	font-family: 'gill sans', 'gill sans mt', calibri, sans-serif;
	font-size: 36px;
	font-style: normal;
	font-variant: small-caps;
	font-weight: 400;
	line-height: 0px;
	margin-bottom: 200px;
	text-align: center;
}
p{
	font-family: 'gill sans', 'gill sans mt', calibri, sans-serif;
	font-size: 24px;
	font-style: normal;
	font-variant: small-caps;
	font-weight: 400;
	line-height: 25px;
	margin-right: 100px;
	margin-left: 100px;
	text-align: left;
	color: #03043b;
} 
.list {
	margin: auto;
	width: 250px;
	list-style-type: disc;
	list-style-position: inside;
	line-height: 25px;
	font-family: 'gill sans', 'gill sans mt', calibri, sans-serif;
	font-size: 20px;
	color: #03043b;
}

h3{
	color: #03043b;
	font-family: 'gill sans', 'gill sans mt', calibri, sans-serif;
	font-size: 24px;
	font-style: normal;
	font-variant: small-caps;
	font-weight: 400;
	line-height: 20px;
	text-align: left;
	margin-right: 100px;
	margin-left: 100px;
}